body {
  background-color: #f0f2f5;
  font-family: Arial, sans-serif;
}

.profile-card {
  background-color: white;
  width: 400px;
  padding: 20px;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  margin: 50px auto;
  gap: 20px;
}

.avatar {
  width: 100px;
  height: 100px;
  border-radius: 50%;
  object-fit: cover;
}

.info {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.info h2 {
  text-align: center;
  margin: 0;
}

.info p {
  font-size: 18px;
  font-weight: normal;
  text-align: start;
  margin: 0;
}

.btn {
  background-color: #6c5ce7;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 6px;
  cursor: pointer;
  margin-top: 5px;
  transition: 0.3s;
  
  text-align: center;
}

.btn:hover {
  background-color: #5649c0;
  transform: scale(1.05);
}
